@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --outline-color: #31353f;

  --horizontal-gap: 20px;
  --vertical-gap: 28px;

  --font:'Open Sans', 'Arial', sans-serif;
  --font-size: 16px;
  --font-size-smaller: 14px;
  --font-size-bigger: 20px;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/OpenSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url('../fonts/OpenSans-ExtraBold.woff2') format('woff2');
}
/* 
.films-list .film-card {
  margin-top: 50px;
}

.film-card__poster {
  border: dotted 1px rgba(255, 255, 255, 0.1);
  bottom: calc(100% - 340px - 50px);
  transition: bottom 0.2s ease-out;
  bottom: calc(100% - 340px);
}

.film-card__comments {
  background: none;
  color: #687fad;
  font-family: var(--font);
  font-size: var(--font-size);
  transition: opacity 0.1s ease-out;
}

.film-card__controls {
  bottom: calc(100% - 340px - 50px);
  line-height: 50px;
  transition: height 0.1s ease-in;
}

.film-card__controls-item {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-right: solid 1px var(--outline-color);
  box-sizing: border-box;
  flex-basis: 33%;
  height: 30px;
  opacity: 1;
  text-indent: -900em;
  transition: opacity 0.1s ease-in;
}

.films-list__show-more {
  background: none;
  font-family: var(--font);
  transition: opacity 0.1s ease-in;
}

.films-list--extra:last-of-type::before {
  border-left: solid 1px var(--outline-color);
  bottom: 20px;
  content: '';
  height: calc(100% - 20px * 2);
  left: calc(-1 * var(--horizontal-gap) * 1.5);
  position: absolute;
  top: 20px;
  width: 0;
} */
