html {
  min-height: 100%;
  justify-content: center;
  min-width: 1240px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  display: flex;
  background: #121213 url('../images/background.png') no-repeat 60% 0;
  font-size: 16px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: white;
}

body {
  box-sizing: border-box;
  max-width: 1240px;
  padding: 28px 20px 0;
  width: 100%;
}

a:link {
  opacity: 1;
  text-decoration: none;
  transition: opacity 0.1s ease-in;
}

a:hover {
  opacity: 0.7;
}

button {
  cursor: pointer;
}
